.navbar-holder {
  border-bottom: 3px solid rgba(223,230,147,255);
  border-left: 3px solid rgba(223,192,117,255);
  width: 100%;
}

.navbar {
  margin-top: 30px
}

.brand {
  font-weight: bold;
  font-size: 50px;
}

// .Navbar.Offcanvas.Body {
//   background-color: rgba(238,239,154,255);
// }
