.list {
  border-bottom: 2px solid rgba(225,232,144,255) !important;
  margin: 1px;
  background-color: rgba(238,239,154,255) !important;
}

.list-group {
  width: 75%
}

.button {
  margin-right: 10px;
}

.li {
  background-color: rgba(238,239,154,255);
}